{{- define "main" }}

<main class="paper">
    <div class="grid">
        <header class="flex-row">
            {{ partial "resume/header" (dict "Header" .Site.Params.header "Data" .Site.Data.resume "useFontAwesome" .Site.Params.useFontAwesome) }}
        </header>

        {{ range first 1 .Site.Params.pages }}
        <div class="left-column">
            {{ range .features }}
                {{ partial "resume/section" (dict "Feature" . "Data" $.Site.Data.resume "useFontAwesome" $.Site.Params.useFontAwesome) }}
            {{ end }}
        </div>
        {{ end }}

        <div class="right-column">
            {{ range .Site.Params.side }}
                {{ partial "resume/section" (dict "Feature" . "Data" $.Site.Data.resume "useFontAwesome" $.Site.Params.useFontAwesome) }}
            {{ end }}
        </div>
    </div>
</main>

{{ range after 1 .Site.Params.pages }}
<article class="paper">
    {{ range .features }}
        {{ partial "resume/section" (dict "Feature" . "Data" $.Site.Data.resume "useFontAwesome" $.Site.Params.useFontAwesome) }}
    {{ end }}
</article>
{{ end }}


{{- end }}{{/* end main */}}